<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/styles.css">

        <script src="js/lib/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <div>
        <ul id="songs"></ul>
        </div>
        <script id="songTemplate" type="text/html">
            <%= title %>
            <button class="listen">Listen</button>
            <button class="download">Download</button>
            <% if (downloads > 10){ %>
                <span class="popular"> Popular</span>
            <% } %>
            </script>
        <div>
            <ul id="animals"></ul>
        </div>
        <script id="animalTemplate" type="text/html">
        <%= name %>
        <button class="walk">Walk this Animal!</button>
        <% if (walks < 2){ %>
        <span class="needsWalk"> Needs Walking!</span>
        <% } %>
        </script>
        <script src="js/lib/require-min.js" data-main="js/main"></script>
    </body>
</html>
